main {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

section {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1rem;
}

article {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
}

img {
  width: 100%;
}